@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Henrique S. Domareski<br />
    hsd.foz@gmail.com<br />
    Phone number: +55 48 9 9900-3193<br />
    <a href="https://www.linkedin.com/in/henriquesd" target="_blank">LinkedIn</a><br />
</address>
